/* Fonts */
@font-face {
    font-family: FagoColf-Black;
    src: url(../Fonts/FagoCoLf-Black.ttf);
}
/*General styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: montserr;
    font-size: 16px;
  }
h1,h2,h3,h4, li{
    font-family: FagoColf-Black;
    text-transform: uppercase;
}
h1,h2{
    font-size: 3rem;

}
h3{
    font-size: 3.5rem;
}
h4{
    font-size: 2.25rem;
}
p{
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
  }
.btn-general{
    color: #ffffff;
    background-color: #EC651D;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .btn-general:hover{
    background-color: #bf4707;
  }
  .navbar-toggler{
    border: none ;
  }
  .navbar-nav .nav-link.active, .nav-link:focus, .nav-link:hover{
    color: #EC651D !important;
  }

 /* ******************* Barra ************ */  
 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;
  background-color: #EBEBEB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EC651D;
  border-radius: 10px;
  transition: all .3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0E0202;
  transition: all .3s ease;
}

/* ******************* Loader ************ */ 
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EC651D;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
}
.loader svg {
  max-width: 220px;
  width: 100%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
 }
  to {
    stroke-dashoffset: 0;
 }
}


  /*responsive*/
  @media (max-width: 991px){
    .banner--container, .banner-about-us, .specials-conainer, .banner-reservations{
        margin-top: 0 !important;
    }
    .nav-link{
        color: black !important;
        font-size: 1.25rem !important;
        text-align: left;
        padding-top: 0;
        padding-bottom: 5px;
    }
    h1,h2{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    .navbar-collapse{
        border-top: 1px solid #000000;
        padding: 10px 0;
        margin-top: 10px;
      }
      .nav-link{
        padding-left: 5px;
       
      }
      .navbar-nav .nav-link.active{
        color: #ffffff !important;
        background-color: #EC651D;
      }
      .footer-container {
        
        height: 450px !important;

}

  }