.padding-container{
padding: 100px 10px;
}
.text-menu{
    padding-top: 70px;
    padding-bottom: 30px;
}
.text-menu-bar{
    margin-top: 100px;
    margin-bottom: 30px;
}
.img-portada{
    width: 100%;
    padding: 0;
}
.btn-bar{
    margin-top: -50px;
}
.title-food-bar-2{
    margin-top: 100px !important;
}


@media (max-width: 768px){
    .padding-container{
        padding: 50px 20px;
        }
    .text-menu{
        padding-top: 0px;
    }
    .pdf-menu-food{
        height: 400px;
     }
     .pdf-menu-bar{
        height: 300px;
    }
}
@media (max-width: 425px){
    .pdf-menu-food{
        height: 500px;
     }
     .pdf-menu-bar{
        height: 200px;
    }

    .btn-banners {
        padding: 5px 30px;
    }

}