/* Banner Principal */
.banner--container, .banner-about-us, .specials-conainer{
    padding: 0;
    margin-top: -70px;
  }
  .banner-principal {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(
          rgb(0, 0, 0, 1) 0%,    
          rgb(0, 0, 0, 0) 25%,   
          rgb(0, 0, 0, 0.62) 70%,   
          rgb(0, 0, 0, 1) 100%
        ), url('../img/banner-home.webp');
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    flex-direction: column;
  }
  .banner-principal p, .buttons-banner{
    margin-top: 30px;
  }
.banner-principal img{
    width: 310px;
  }
.buttons-banner a:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
}
  .texture-banner {
    margin-top: -40px;
    width: 100%; 
    z-index: 5; 
  }
.col-md-6{
    padding: 0;
}
/*About us*/
.title-color{
    color: #350D1A;
}
.img-about{
    margin-top: -50px;
}
/* Specials */
.specials-bg{
    width: 100%;
    background-image: url('../img/specials-bg.webp');
    background-size: cover;
    background-position: top center;
}
.banner-promo img{
    border-radius: 15px;
    margin-top: 50px;
}
/* Enjoy */
.enjoy-container, .special-events-bg {
    height: 500px;
}
.row{
    margin: 0;
}
.enjoy-menu, .enjoy-bar, .special-events-bg {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    flex-direction: column;
}
.enjoy-menu{
    background-image: url('../img/enjoy-our-menu-bg.webp');
}
.enjoy-bar{
    background-image: url('../img/drink-some-of-our-bar.webp');
}
.enjoy-text{
    font-family: 'Oooh Baby', cursive;
    font-size: 4.5rem;
    position: relative;
}
.enjoy-text:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 23px;
    width: 100%;
    height: 2px; 
    background-color: #ffffff; 
  }
.shadow-enjoy-menu{
    color: #ffffff;
    -webkit-text-stroke: 0.5px #EC651D;
    text-shadow: 0 4px 20px #EC651D;
    margin-top: -20px;
    margin-bottom: 0;
}
.shadow-enjoy-bar{
    color: #ffffff;
    -webkit-text-stroke: 0.5px #194185;
    text-shadow: 0 4px 20px #194185;
    margin-top: -20px;
    margin-bottom: 0;
}
.about-us-container{
    padding: 0;
}
/* Special events */
.special-events-bg{
    background-image: url('../img/special-events-bg.webp');
}
.enjoy-container{
    overflow: hidden;
}



/*Responsive*/
@media (max-width: 768px){
    .banner-principal{
        height: 600px;
    }
}

@media (max-width: 645px){
    .btn-banners{
        display: block;
        padding: 5px 50px;
        border-radius: 10px;
        margin: 20px 0 !important;
        width: 100%;
    }
    .text-lahacienda, .banner-principal img{
        width: 90%;
    }
    .img-about{
        margin-top: 0;
    }
    .enjoy-menu, .enjoy-bar{
        padding-left: 20px;
        padding-right: 20px;
    }   
}
