.specials-conainer .text-color{
    color: #EC651D;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img-specials{
    padding: 10px;
    border: 2px solid #ffffff;
}
.text-specials{
    color: #ffffff;
    display: flex;
    align-items: center;
    border: 2px solid #EC651D;
    padding-left: 20px;
}
.text-specials p{
    font-family: FagoColf-Black;
    font-size: 2rem;
    line-height: 1.2;
}
.text-specials p span{
    color: #EC651D;
}
.specials-conainer h3{
    text-transform: none;
    font-size: 3rem;
}
.t-specials-l{
    margin-left: 7%;
}
.t-specials-r{
    margin-right: 7%;
}

/*Responsive*/
@media (max-width: 1024px){
    .specials-conainer h3{
        font-size: 2rem;
        text-align: center !important;
        margin: 40px 0 !important;
    }
    .text-specials p{
        font-size: 1.5rem;
    }
}
@media (max-width: 767px){
    .img-specials{
        text-align: center;
    }
   
    .img-specials, .text-specials p, .text-specials{
        margin: 0 !important;
    }
    .text-specials{
        padding: 15px;
    }
    .text-s-m-t{
        margin-top: 10px !important;
    }
    .text-s-m-b{
        margin-bottom: 10px !important;
    }
    .specials-conainer{
        padding: 10px;
    }
    .specials-conainer .text-color{
        margin-top: 10px;
    }
}
